In [111]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [112]:
df = pd.read_csv("weather_2012.csv")

In [113]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [114]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [115]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
5637,2012-08-22 21:00:00,22.5,14.2,59,15,25.0,101.29,Clear
7447,2012-11-06 07:00:00,-3.4,-7.0,76,6,48.3,101.86,Mostly Cloudy
5030,2012-07-28 14:00:00,26.4,11.1,38,13,48.3,101.13,Mostly Cloudy
8676,2012-12-27 12:00:00,-5.5,-6.6,92,39,0.6,100.50,"Moderate Snow,Blowing Snow"
669,2012-01-28 21:00:00,2.1,-1.7,76,24,25.0,99.95,Mainly Clear

In [116]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [117]:
df = df.rename(columns={'Date/Time': 'date_time', 'Temp (C)': 'temp_c', 'Dew Point Temp (C)': 'dew_point',
                        'Rel Hum (%)': 'relative_humidity', 'Wind Spd (km/h)': 'wind_speed', 'Visibility (km)': 'visibility', 
                       'Stn Press (kPa)': 'pressure', 'Weather':'weather' })

In [118]:
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

In [119]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [120]:
def convert(x):
    y=(x*(9/5)+32)
    return y

In [121]:
convert(18.8)

65.84

In [122]:
df['temp_f']=list(map(lambda x: convert(x), df['temp_c']))

In [123]:
df.head()

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,28.76
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,28.76
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",28.76
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",29.30
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,29.30

In [124]:
df=df[['date_time','temp_f','temp_c','dew_point','relative_humidity','wind_speed', 'visibility', 'pressure', 'weather']]

In [125]:
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

In [126]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

In [127]:
df.date_time=pd.to_datetime(df.date_time)

In [128]:
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

In [129]:
df.mean(numeric_only=True)

temp_f                47.836660
temp_c                 8.798144
dew_point              2.555294
relative_humidity     67.431694
wind_speed            14.945469
visibility            27.664447
pressure             101.051623
dtype: float64

In [130]:
monthly_average=df.groupby(pd.PeriodIndex(df['date_time'],freq="M"))['temp_f'].mean()

In [131]:
monthly_average.head()

date_time
2012-01    18.731290
2012-02    24.395000
2012-03    37.618226
2012-04    44.616750
2012-05    61.227984
Freq: M, Name: temp_f, dtype: float64

In [132]:
monthly_avg = pd.DataFrame(monthly_average)

In [133]:
monthly_avg.head(12)

              temp_f
date_time
2012-01    18.731290
2012-02    24.395000
2012-03    37.618226
2012-04    44.616750
2012-05    61.227984
2012-06    68.241250
2012-07    73.022097
2012-08    72.102742
2012-09    61.672000
2012-10    51.718952
2012-11    33.676500
2012-12    26.048629

In [134]:
monthly_avg["month"]= [1,2,3,4,5,6,7,8,9,10,11,12]

In [135]:
monthly_avg.head()

              temp_f  month
date_time
2012-01    18.731290      1
2012-02    24.395000      2
2012-03    37.618226      3
2012-04    44.616750      4
2012-05    61.227984      5

In [136]:
monthly_avg=monthly_avg[['month', 'temp_f']]

In [137]:
monthly_avg.head()

           month     temp_f
date_time
2012-01        1  18.731290
2012-02        2  24.395000
2012-03        3  37.618226
2012-04        4  44.616750
2012-05        5  61.227984

In [138]:
monthly_avg=monthly_avg.reset_index()

In [147]:
monthly_avg.head()

   month     temp_f
0      1  18.731290
1      2  24.395000
2      3  37.618226
3      4  44.616750
4      5  61.227984

In [148]:
monthly_avg=monthly_avg[['month', 'temp_f']]

In [149]:
monthly_avg.head()

   month     temp_f
0      1  18.731290
1      2  24.395000
2      3  37.618226
3      4  44.616750
4      5  61.227984

In [159]:
def nums_to_months(n):
    month={1:'January',
            2:'February',
            3:'March',
            4:'April',
            5:'May',
           6:'June',
           7:'July',
           8:'August',
           9:'September',
           10:'October',
           11:'November',
           12:'December',}
    return month[n]

In [160]:
monthly_avg['month']=list(map(lambda n: nums_to_months(n), monthly_avg['month']))

In [161]:
monthly_avg.head()

      month     temp_f
0   January  18.731290
1  February  24.395000
2     March  37.618226
3     April  44.616750
4       May  61.227984

In [220]:
hourly_average=df.groupby(pd.PeriodIndex(df['date_time'],freq="H"))['temp_f'].mean()

In [221]:
hourly_average.head()

date_time
2012-01-01 00:00    28.76
2012-01-01 01:00    28.76
2012-01-01 02:00    28.76
2012-01-01 03:00    29.30
2012-01-01 04:00    29.30
Freq: H, Name: temp_f, dtype: float64

In [222]:
hour = pd.DataFrame(hourly_average)

In [223]:
hourly_average.head()

date_time
2012-01-01 00:00    28.76
2012-01-01 01:00    28.76
2012-01-01 02:00    28.76
2012-01-01 03:00    29.30
2012-01-01 04:00    29.30
Freq: H, Name: temp_f, dtype: float64

In [224]:
def mil_to_stan(n):
    hour={'00:00':'12:00AM',
            '01:00':'1:00AM',
            '02:00':'2:00AM',
            '03:00':'3:00AM',
            '04:00':'4:00AM',
            '05:00':'5:00AM',
            '06:00':'6:00AM',
            '07:00':'7:00AM',
            '08:00':'8:00AM',
            '09:00':'9:00AM',
            '10:00':'10:00AM',
            '11:00':'11:00AM',
            '12:00':'12:00PM',
            '13:00':'1:00PM',
            '14:00':'2:00PM',
            '15:00':'3:00PM',
            '16:00':'4:00PM',
            '17:00':'5:00PM',
            '18:00':'6:00PM',
            '19:00':'7:00PM',
            '20:00':'8:00PM',
            '21:00':'9:00PM',
            '22:00':'10:00PM',
            '23:00':'11:00PM',}
    return hour[n]

In [212]:
hourly_average['hour']=list(map(lambda n: mil_to_standard(n), hourly_average['hour']))

# I COULD NOT FIGURE OUT HOW TO MAKE THIS WORK

KeyError: "Cannot interpret 'hour' as period"

In [213]:
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

In [233]:
df['weather'].groupby (df['weather']).count()

weather
Clear                                      1326
Cloudy                                     1728
Drizzle                                      41
Drizzle,Fog                                  80
Drizzle,Ice Pellets,Fog                       1
Drizzle,Snow                                  2
Drizzle,Snow,Fog                             15
Fog                                         150
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Freezing Drizzle,Haze                         3
Freezing Drizzle,Snow                        11
Freezing Fog                                  4
Freezing Rain                                14
Freezing Rain,Fog                             4
Freezing Rain,Haze                            2
Freezing Rain,Ice Pellets,Fog                 1
Freezing Rain,Snow Grains                     1
Haze                                         16
Mainly Clear                               2106
Moderate Rain,Fog                             1
Moderate Snow                                 4
Moderate Snow,Blowing Snow                    2
Mostly Cloudy                              2069
Rain                                        306
Rain Showers                                188
Rain Showers,Fog                              1
Rain Showers,Snow Showers                     2
Rain,Fog                                    116
Rain,Haze                                     3
Rain,Ice Pellets                              1
Rain,Snow                                    18
Rain,Snow Grains                              1
Rain,Snow,Fog                                 1
Rain,Snow,Ice Pellets                         4
Snow                                        390
Snow Pellets                                  1
Snow Showers                                 60
Snow Showers,Fog                              4
Snow,Blowing Snow                            19
Snow,Fog                                     37
Snow,Haze                                     5
Snow,Ice Pellets                              6
Thunderstorms                                 2
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers                   16
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain,Fog                        1
Name: weather, dtype: int64

In [237]:
conditions=list(set(i for i in df.weather))

In [238]:
conditions

['Drizzle',
 'Mainly Clear',
 'Freezing Rain',
 'Rain,Haze',
 'Rain Showers,Fog',
 'Moderate Snow',
 'Freezing Rain,Ice Pellets,Fog',
 'Snow Pellets',
 'Drizzle,Snow',
 'Drizzle,Snow,Fog',
 'Mostly Cloudy',
 'Rain Showers,Snow Showers',
 'Moderate Rain,Fog',
 'Snow,Haze',
 'Rain,Snow,Fog',
 'Snow,Ice Pellets',
 'Freezing Drizzle',
 'Drizzle,Fog',
 'Freezing Drizzle,Fog',
 'Rain,Snow',
 'Snow Showers',
 'Moderate Snow,Blowing Snow',
 'Snow,Fog',
 'Rain,Ice Pellets',
 'Snow Showers,Fog',
 'Rain Showers',
 'Thunderstorms,Moderate Rain Showers,Fog',
 'Fog',
 'Thunderstorms,Rain Showers,Fog',
 'Rain,Snow Grains',
 'Thunderstorms,Heavy Rain Showers',
 'Thunderstorms,Rain,Fog',
 'Freezing Fog',
 'Rain',
 'Freezing Rain,Fog',
 'Freezing Drizzle,Haze',
 'Drizzle,Ice Pellets,Fog',
 'Snow,Blowing Snow',
 'Thunderstorms',
 'Rain,Snow,Ice Pellets',
 'Thunderstorms,Rain',
 'Thunderstorms,Rain Showers',
 'Snow',
 'Freezing Drizzle,Snow',
 'Clear',
 'Haze',
 'Freezing Rain,Haze',
 'Rain,Fog',
 'Freezing Rain,Snow Grains',
 'Cloudy']

In [240]:
conditions=sorted(conditions)

In [241]:
conditions

['Clear',
 'Cloudy',
 'Drizzle',
 'Drizzle,Fog',
 'Drizzle,Ice Pellets,Fog',
 'Drizzle,Snow',
 'Drizzle,Snow,Fog',
 'Fog',
 'Freezing Drizzle',
 'Freezing Drizzle,Fog',
 'Freezing Drizzle,Haze',
 'Freezing Drizzle,Snow',
 'Freezing Fog',
 'Freezing Rain',
 'Freezing Rain,Fog',
 'Freezing Rain,Haze',
 'Freezing Rain,Ice Pellets,Fog',
 'Freezing Rain,Snow Grains',
 'Haze',
 'Mainly Clear',
 'Moderate Rain,Fog',
 'Moderate Snow',
 'Moderate Snow,Blowing Snow',
 'Mostly Cloudy',
 'Rain',
 'Rain Showers',
 'Rain Showers,Fog',
 'Rain Showers,Snow Showers',
 'Rain,Fog',
 'Rain,Haze',
 'Rain,Ice Pellets',
 'Rain,Snow',
 'Rain,Snow Grains',
 'Rain,Snow,Fog',
 'Rain,Snow,Ice Pellets',
 'Snow',
 'Snow Pellets',
 'Snow Showers',
 'Snow Showers,Fog',
 'Snow,Blowing Snow',
 'Snow,Fog',
 'Snow,Haze',
 'Snow,Ice Pellets',
 'Thunderstorms',
 'Thunderstorms,Heavy Rain Showers',
 'Thunderstorms,Moderate Rain Showers,Fog',
 'Thunderstorms,Rain',
 'Thunderstorms,Rain Showers',
 'Thunderstorms,Rain Showers,Fog',
 'Thunderstorms,Rain,Fog']

In [242]:
df.columns

Index(['date_time', 'temp_f', 'temp_c', 'dew_point', 'relative_humidity',
       'wind_speed', 'visibility', 'pressure', 'weather'],
      dtype='object')

In [243]:
df.to_csv('weather_2012_new.csv', index=False)

In [244]:
monthly_avg.to_csv('monthly_avg.csv',index=False)